{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Top-UI | App_UploadImg_Page</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/text_editor_style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet"> -->
        <!-- <script src = "https://code.jquery.com/jquery-1.10.2.js"></script> -->
        <!-- <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    
    <body onload='ready()'>
        <div id='container'>
            
            <div id='editors'>
                <div class = 'fa fa-html5 htmlLabel' style="font-size:23px;color:red" id = 'labels'>
                    <button type="button" class="button minButton" onclick="minimizeIframe()"><i class='fa fa-window-minimize'></i></button>
                    <span id='text'>HTML</span>
                </div>
                <div class = 'fa fa-css3 cssLabel' style="font-size:23px;color:red" id='labels'>
                    <span id='text'>CSS</span>
                </div>
                <div class = 'fa fa-jsfiddle jsLabel' style="font-size:23px;color:red" id='labels'>
                    <button type="button" class="button downloadCode" onclick="downloadCode()"><i class='fa fa-download'></i></button>
                    <span id='text'>Javascript</span>
                    <button type="button" class="button maxButton" onclick="maximizeIFrame()"><i class='fa fa-window-maximize'></i></button>
                </div>

                <div class='editor' id='htmlEditor'></div>
                <div class='editor' id='cssEditor'></div>
                <div class='editor' id='jsEditor'></div>
            </div>
    
            <iframe id='iframe' frameBorder="0" style="width: 65%; float:left;">
            </iframe>
            <div style="width: 350px;">
                <form method="POST" action="upload" enctype="multipart/form-data"> {% csrf_token %}
                    <br/>&nbsp;&nbsp;&nbsp;<label>Select the file:</label>&nbsp;&nbsp;&nbsp;<input type="file" name="files" id="upload_file">
                    <br/>&nbsp;&nbsp;&nbsp;<input type="submit" value="upload">
                    <br/><p class="text-success" class="Elements"> {{ message }}</p>
                </form>
            </div>
            <input type="submit" value="Get-content" onclick="my_fun()">
            <p id="demo"></p>
            <div>
                <h4>The list of predicted items:</h4>
                {% for item in list_of_items %}
                    <p style="float: left;">{{item}},&nbsp;&nbsp;&nbsp;</p>
                {% endfor %}
            </div>
            
        </div>
    
        <script type="text/javascript" src="{% static 'js/text_editor_app.js' %}"></script>

        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>


